@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Kalam:wght@300;400;700&family=Poiret+One&family=Protest+Riot&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Syncopate:wght@400;700&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Fugaz+One&family=Kalam:wght@300;400;700&family=Poiret+One&family=Protest+Riot&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Syncopate:wght@400;700&family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&family=Fira+Mono:wght@400;500;700&family=Fugaz+One&family=Kalam:wght@300;400;700&family=Poiret+One&family=Protest+Riot&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Syncopate:wght@400;700&family=Titan+One&display=swap');
body{
    background: linear-gradient(#141488, #23232e);
    height: 200vh;
}

figure{
    margin: 10px;
    padding: 10px;
}
div {
    margin: 0px;
    padding: 0;
    width: 250px;
    max-height: 450px;
    display: inline-block;
    
    
}
#produtos {
    margin: 30px;
    background-color: #efefef;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    background: linear-gradient(#141488, #23232e);
    padding: 10px 5px 30px;
    cursor: pointer;
}

#centro{
    align-items: center;
    justify-content: center;
    display: flex;

}

figcaption{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.mover:hover {
	transform: scale(1.15);
	}
	.mover {
	transition: 500ms;
	}
	.mover{
	width: 300px;
	height: 300px;
	}
    
    * {
        margin: 0;
        padding: 0;
    }   

    a {
        color: #fff;
        text-decoration: none;
        transition: 0.3s;
    }

    a:hover {
        opacity: 0.5;
    }

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-family: 'Fugaz One';
        
    }

    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Antic';
        background: #111185;
        height: 80px;
        border: solid 1px #000000;
    }

    main {
        background-color: #fff;
    
    }

    .navList {
        list-style: none;
        display: flex;
        margin-right: 50px;
    }       

    .navList li {
        font-size: 20px;
        letter-spacing: 2px;
        margin-left: 32px;
    }

    

    
